<!doctype html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{hotel-management/layout/layout.html :: layout(~{::title},~{::#css},~{::#main-content},~{::#js})}">
<head>
    <title>Danh sách phòng</title>

    <th:block id="css">
        <link rel="stylesheet" href="/admin-assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"/>
        <link rel="stylesheet" href="/admin-assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"/>
        <link rel="stylesheet" href="/admin-assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css"/>
        <style >
            @import url(https://fonts.googleapis.com/css?family=Montserrat);
            body {
                font-family: montserrat, arial, verdana;
            }

        </style>
    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="main-content" style="font-size: 14px">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/hotel-manager/dashboard">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Danh sách phòng
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary btn-create-support">
                            <i class="fas fa-plus"></i> Tạo phòng mới
                        </button>
                        <button type="button" class="btn btn-info btn-refresh">
                            <i class="fas fa-redo"></i> Refresh
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="table-room" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th style="width: 5%">STT</th>
                                        <th style="width: 30%">Tên phòng</th>
                                        <th style="width: 20%">Loại phòng</th>
                                        <th style="width: 10%">Số lượng</th>
                                        <th style="width: 10%">Diện tích</th>
                                        <th style="width: 10%">Sức chứa</th>
                                        <th style="width: 10%">Trạng thái</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="room,star : ${roomList}">
                                        <td th:text="${star.count}">Thứ Tự</td>
                                        <td>
                                            <a th:href="@{/hotel-manager/room/detail/{id} (id=${room.id})}"
                                               th:text="${room.name}"></a>
                                        </td>
                                        <td th:text="${room.roomType.value}"></td>
                                        <td  th:text="${room.quantity}"></td>
                                        <td th:text="${room.area}"></td>
                                        <td th:text="${room.capacity}"></td>
                                        <td >
                                            <span class="badge"
                                                  th:text="${room.status ? 'Công khai' : 'Riêng tư'}"
                                                  th:classappend="${room.status ? 'bg-success' : 'bg-warning'}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<th:block id="js">
    <script src="/admin-assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin-assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/admin-assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/admin-assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/admin-assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/admin-assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>

    <script>
        $('#table-room').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "order": [],
            "language": {
                "paginate": {
                    "next": '<i class="fas fa-chevron-right"></i>',
                    "previous": '<i class="fas fa-chevron-left"></i>'
                }
            },
            "drawCallback": function () {
                var api = this.api();
                if (api.page.info().pages <= 1) {
                    $('.paginate_button').hide(); // Ẩn tất cả các nút phân trang
                } else {
                    $('.paginate_button').show(); // Hiện lại tất cả các nút phân trang
                }
            }
        });
        const  btnCreate = document.querySelector('.btn-create-support');
        btnCreate.addEventListener('click' , ()=>{
            window.location.href = "/hotel-manager/room/create"
        })
        const  btnRefresh = document.querySelector('.btn-refresh');
        btnRefresh.addEventListener('click' , ()=>{
            window.location.reload()
        })
    </script>
</th:block>
</body>

</html>