<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{::title},~{::#css},~{::#main-content},~{::#js})}">
<head>
    <title>Yêu thích</title>
    <th:block id="css">
        <link rel="stylesheet" href="/web/assets/css/style-favourite-city.css">
    </th:block>

</head>
<body>

<div id="main-content">


    <section class="favourite">
        <div class="container">
            <div class="row px-5 mt-5">
                <div class="" th:if="${mapHotelFavouriteByCity.isEmpty()}">
                    Chưa có khách sạn nào được thêm vào danh sách yêu thích
                </div>
                <th:block th:if="${!mapHotelFavouriteByCity.isEmpty()}" >
                    <div class="col-12">
                        <h3>Danh dách yêu thích</h3>
                    </div>
                    <div class="col-4" th:each="keyValue : ${mapHotelFavouriteByCity}">

                        <a class="favourite-by-city " th:href="@{/danh-sach-yeu-thich/{id}/{city} (id=${#authentication.principal.user.getId()},city=${keyValue.key})}">
                            <div class="card-city">
                                <img class="w-100" src="/web/assets/image/amanoi-resort-beach-club-1400x600.jpg" alt="">

                                <h4 class="name-city" th:text="${keyValue.key}"></h4>

                                <span class="quantity "><th:block th:text="${keyValue.value}"></th:block> khách sạn</span>
                            </div>
                        </a>
                    </div>
                </th:block>

                </div>
            </div>
    </section>


</div>

<th:block id="js">


</th:block>

</body>
</html>

