<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{::title},~{::#css},~{::#main-content},~{::#js})}">
<head>
    <title>Danh sách yêu thích</title>
    <th:block id="css">
        <link rel="stylesheet" href="/web/assets/css/style-favourite-hotel.css">
    </th:block>

</head>
<body>

<div id="main-content">


    <section class="">

        <div class="container">
            <div class="row">
                <div class="title-page">
                    <a th:href="@{yeu-thich}" class="link-back">Danh sách yêu thích </a> <span>/ Hà Nội</span>
                    <h2>Hà Nội</h2>
                </div>
                <div class="col-3 my-3">
                    <div class="card-hotel">
                        <img  src="/web/assets/image/amanoi-resort-beach-club-1400x600.jpg" alt="">
                        <div class="infor-hotel">
                            <p class="name-hotel w-100">Khách sạn Galiot Central</p>
                            <span class="city-hotel">Hà Nội</span>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <hr>
                            <div class="ratting-hotel">
                                <div>
                                    <span class="age-rating"> 8,8</span>
                                    <span class="rating-text"> Tuyệt vời</span>
                                </div>
                                <div>
                                    <span class="quantity">200</span>
                                    <span class="reviews"> nhận xét</span>
                                </div>
                            </div>
                            <hr>
                            <div class="description-price">
                                <span class="description-price">Mỗi đêm chỉ từ </span>
                                <span> <del> 123456 </del> đ</span>
                            </div>
                            <div class="price-hotel">
                                <span class="price">506.000 </span>
                                <span class="unit">đ</span>
                            </div>

                            <div class="delete">
                               <button type="button">
                                   <i class="fa-solid fa-heart"></i>
                               </button>
                            </div>

                        </div>
                    </div>
                </div >
                <div class="col-3 my-3">
                    <div class="card-hotel">
                        <img  src="/web/assets/image/amanoi-resort-beach-club-1400x600.jpg" alt="">
                        <div class="infor-hotel">
                            <p class="name-hotel w-100">Khách sạn Galiot Central</p>
                            <span class="city-hotel">Hà Nội</span>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <hr>
                            <div class="ratting-hotel">
                                <div>
                                    <span class="age-rating"> 8,8</span>
                                    <span class="rating-text"> Tuyệt vời</span>
                                </div>
                                <div>
                                    <span class="quantity">200</span>
                                    <span class="reviews"> nhận xét</span>
                                </div>
                            </div>
                            <hr>
                            <div class="description-price">
                                <span class="description-price">Mỗi đêm chỉ từ </span>
                                <span> <del> 123456 </del> đ</span>
                            </div>
                            <div class="price-hotel">
                                <span class="price">506.000 </span>
                                <span class="unit">đ</span>
                            </div>

                            <div class="delete">
                                <button type="button">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-3 my-3">
                    <div class="card-hotel">
                        <img  src="/web/assets/image/amanoi-resort-beach-club-1400x600.jpg" alt="">
                        <div class="infor-hotel">
                            <p class="name-hotel w-100">Khách sạn Galiot Central</p>
                            <span class="city-hotel">Hà Nội</span>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <hr>
                            <div class="ratting-hotel">
                                <div>
                                    <span class="age-rating"> 8,8</span>
                                    <span class="rating-text"> Tuyệt vời</span>
                                </div>
                                <div>
                                    <span class="quantity">200</span>
                                    <span class="reviews"> nhận xét</span>
                                </div>
                            </div>
                            <hr>
                            <div class="description-price">
                                <span class="description-price">Mỗi đêm chỉ từ </span>
                                <span> <del> 123456 </del> đ</span>
                            </div>
                            <div class="price-hotel">
                                <span class="price">506.000 </span>
                                <span class="unit">đ</span>
                            </div>

                            <div class="delete">
                                <button type="button">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-3 my-3">
                    <div class="card-hotel">
                        <img  src="/web/assets/image/amanoi-resort-beach-club-1400x600.jpg" alt="">
                        <div class="infor-hotel">
                            <p class="name-hotel w-100">Khách sạn Galiot Central</p>
                            <span class="city-hotel">Hà Nội</span>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <hr>
                            <div class="ratting-hotel">
                                <div>
                                    <span class="age-rating"> 8,8</span>
                                    <span class="rating-text"> Tuyệt vời</span>
                                </div>
                                <div>
                                    <span class="quantity">200</span>
                                    <span class="reviews"> nhận xét</span>
                                </div>
                            </div>
                            <hr>
                            <div class="description-price">
                                <span class="description-price">Mỗi đêm chỉ từ </span>
                                <span> <del> 123456 </del> đ</span>
                            </div>
                            <div class="price-hotel">
                                <span class="price">506.000 </span>
                                <span class="unit">đ</span>
                            </div>

                            <div class="delete">
                                <button type="button">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-3 my-3">
                    <div class="card-hotel">
                        <img  src="/web/assets/image/amanoi-resort-beach-club-1400x600.jpg" alt="">
                        <div class="infor-hotel">
                            <p class="name-hotel w-100">Khách sạn Galiot Central</p>
                            <span class="city-hotel">Hà Nội</span>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <hr>
                            <div class="ratting-hotel">
                                <div>
                                    <span class="age-rating"> 8,8</span>
                                    <span class="rating-text"> Tuyệt vời</span>
                                </div>
                                <div>
                                    <span class="quantity">200</span>
                                    <span class="reviews"> nhận xét</span>
                                </div>
                            </div>
                            <hr>
                            <div class="description-price">
                                <span class="description-price">Mỗi đêm chỉ từ </span>
                                <span> <del> 123456 </del> đ</span>
                            </div>
                            <div class="price-hotel">
                                <span class="price">506.000 </span>
                                <span class="unit">đ</span>
                            </div>

                            <div class="delete">
                                <button type="button">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-3 my-3">
                    <div class="card-hotel">
                        <img  src="/web/assets/image/amanoi-resort-beach-club-1400x600.jpg" alt="">
                        <div class="infor-hotel">
                            <p class="name-hotel w-100">Khách sạn Galiot Central</p>
                            <span class="city-hotel">Hà Nội</span>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <hr>
                            <div class="ratting-hotel">
                                <div>
                                    <span class="age-rating"> 8,8</span>
                                    <span class="rating-text"> Tuyệt vời</span>
                                </div>
                                <div>
                                    <span class="quantity">200</span>
                                    <span class="reviews"> nhận xét</span>
                                </div>
                            </div>
                            <hr>
                            <div class="description-price">
                                <span class="description-price">Mỗi đêm chỉ từ </span>
                                <span> <del> 123456 </del> đ</span>
                            </div>
                            <div class="price-hotel">
                                <span class="price">506.000 </span>
                                <span class="unit">đ</span>
                            </div>

                            <div class="delete">
                                <button type="button">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-3 my-3">
                    <div class="card-hotel">
                        <img  src="/web/assets/image/amanoi-resort-beach-club-1400x600.jpg" alt="">
                        <div class="infor-hotel">
                            <p class="name-hotel w-100">Khách sạn Galiot Central</p>
                            <span class="city-hotel">Hà Nội</span>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <hr>
                            <div class="ratting-hotel">
                                <div>
                                    <span class="age-rating"> 8,8</span>
                                    <span class="rating-text"> Tuyệt vời</span>
                                </div>
                                <div>
                                    <span class="quantity">200</span>
                                    <span class="reviews"> nhận xét</span>
                                </div>
                            </div>
                            <hr>
                            <div class="description-price">
                                <span class="description-price">Mỗi đêm chỉ từ </span>
                                <span> <del> 123456 </del> đ</span>
                            </div>
                            <div class="price-hotel">
                                <span class="price">506.000 </span>
                                <span class="unit">đ</span>
                            </div>

                            <div class="delete">
                                <button type="button">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-3 my-3">
                    <div class="card-hotel">
                        <img  src="/web/assets/image/amanoi-resort-beach-club-1400x600.jpg" alt="">
                        <div class="infor-hotel">
                            <p class="name-hotel w-100">Khách sạn Galiot Central</p>
                            <span class="city-hotel">Hà Nội</span>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <hr>
                            <div class="ratting-hotel">
                                <div>
                                    <span class="age-rating"> 8,8</span>
                                    <span class="rating-text"> Tuyệt vời</span>
                                </div>
                                <div>
                                    <span class="quantity">200</span>
                                    <span class="reviews"> nhận xét</span>
                                </div>
                            </div>
                            <hr>
                            <div class="description-price">
                                <span class="description-price">Mỗi đêm chỉ từ </span>
                                <span> <del> 123456 </del> đ</span>
                            </div>
                            <div class="price-hotel">
                                <span class="price">506.000 </span>
                                <span class="unit">đ</span>
                            </div>

                            <div class="delete">
                                <button type="button">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-3 my-3">
                    <div class="card-hotel">
                        <img  src="/web/assets/image/amanoi-resort-beach-club-1400x600.jpg" alt="">
                        <div class="infor-hotel">
                            <p class="name-hotel w-100">Khách sạn Galiot Central</p>
                            <span class="city-hotel">Hà Nội</span>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <hr>
                            <div class="ratting-hotel">
                                <div>
                                    <span class="age-rating"> 8,8</span>
                                    <span class="rating-text"> Tuyệt vời</span>
                                </div>
                                <div>
                                    <span class="quantity">200</span>
                                    <span class="reviews"> nhận xét</span>
                                </div>
                            </div>
                            <hr>
                            <div class="description-price">
                                <span class="description-price">Mỗi đêm chỉ từ </span>
                                <span> <del> 123456 </del> đ</span>
                            </div>
                            <div class="price-hotel">
                                <span class="price">506.000 </span>
                                <span class="unit">đ</span>
                            </div>

                            <div class="delete">
                                <button type="button">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-3 my-3 ">
                    <div class="card-hotel">
                        <img  src="/web/assets/image/amanoi-resort-beach-club-1400x600.jpg" alt="">
                        <div class="infor-hotel">
                            <p class="name-hotel w-100">Khách sạn Galiot Central</p>
                            <span class="city-hotel">Hà Nội</span>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <hr>
                            <div class="ratting-hotel">
                                <div>
                                    <span class="age-rating"> 8,8</span>
                                    <span class="rating-text"> Tuyệt vời</span>
                                </div>
                                <div>
                                    <span class="quantity">200</span>
                                    <span class="reviews"> nhận xét</span>
                                </div>
                            </div>
                            <hr>
                            <div class="description-price">
                                <span class="description-price">Mỗi đêm chỉ từ </span>
                                <span> <del> 123456 </del> đ</span>
                            </div>
                            <div class="price-hotel">
                                <span class="price">506.000 </span>
                                <span class="unit">đ</span>
                            </div>

                            <div class="delete">
                                <button type="button">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-3 my-3">
                    <div class="card-hotel">
                        <img  src="/web/assets/image/amanoi-resort-beach-club-1400x600.jpg" alt="">
                        <div class="infor-hotel">
                            <p class="name-hotel w-100">Khách sạn Galiot Central</p>
                            <span class="city-hotel">Hà Nội</span>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <hr>
                            <div class="ratting-hotel">
                                <div>
                                    <span class="age-rating"> 8,8</span>
                                    <span class="rating-text"> Tuyệt vời</span>
                                </div>
                                <div>
                                    <span class="quantity">200</span>
                                    <span class="reviews"> nhận xét</span>
                                </div>
                            </div>
                            <hr>
                            <div class="description-price">
                                <span class="description-price">Mỗi đêm chỉ từ </span>
                                <span> <del> 123456 </del> đ</span>
                            </div>
                            <div class="price-hotel">
                                <span class="price">506.000 </span>
                                <span class="unit">đ</span>
                            </div>

                            <div class="delete">
                                <button type="button">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-3 my-3 ">
                    <div class="card-hotel">
                        <img  src="/web/assets/image/amanoi-resort-beach-club-1400x600.jpg" alt="">
                        <div class="infor-hotel">
                            <p class="name-hotel w-100">Khách sạn Galiot Central</p>
                            <span class="city-hotel">Hà Nội</span>
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <hr>
                            <div class="ratting-hotel">
                                <div>
                                    <span class="age-rating"> 8,8</span>
                                    <span class="rating-text"> Tuyệt vời</span>
                                </div>
                                <div>
                                    <span class="quantity">200</span>
                                    <span class="reviews"> nhận xét</span>
                                </div>
                            </div>
                            <hr>
                            <div class="description-price">
                                <span class="description-price">Mỗi đêm chỉ từ </span>
                                <span> <del> 123456 </del> đ</span>
                            </div>
                            <div class="price-hotel">
                                <span class="price">506.000 </span>
                                <span class="unit">đ</span>
                            </div>

                            <div class="delete">
                                <button type="button">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


</div>

<th:block id="js">

</th:block>

</body>
</html>