<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{::title},~{::#css},~{::#main-content},~{::#js})}">
<head>
    <title>Danh sách yêu thích</title>
    <th:block id="css">
        <link rel="stylesheet" href="/web/assets/css/style-favourite-hotel.css">
    </th:block>

</head>
<body>

<div id="main-content">


    <section class="list-hotel">

        <div class="container">
            <div class="row" th:class="${hotelsFavouriteBuCity.size()!=0 ? 'd-none' : 'd-inline-block'}">
                <span>Chưa có khách sạn nào được thêm vào</span>
            </div>
            <th:block th:class="${hotelsFavouriteBuCity.size()==0 ? 'd-none' : 'd-inline-block'}">
                <div class="row " >
                    <div class="title-page">
                        <a th:href="@{/yeu-thich/{id} (id=${#authentication.principal.user.getId()})}" class="link-back">Danh sách yêu thích </a> <span>/ Hà Nội</span>
                        <h2>Hà Nội</h2>
                    </div>
                    <div class="wrap-list">
                        <div class="col-3 my-3" th:each="hotel : ${hotelsFavouriteBuCity}" th:id="${hotel.id}">
                            <div class="card-hotel">
                                <a class="text-reset text-decoration-none" th:href="@{/chi-tiet-khach-san/{id} (id=${hotel.id})}">
                                    <img  src="/web/assets/image/amanoi-resort-beach-club-1400x600.jpg" alt="">
                                    <div class="infor-hotel">
                                        <p class="name-hotel w-100" th:text="${hotel.getName()}"></p>
                                        <span class="city-hotel" th:text="${hotel.getCity().getName()}"></span>
                                        <div class="star">
                                            <i class="fa-solid fa-star" th:each="star : ${#numbers.sequence(0,hotel.star)}"></i>
                                        </div>
                                        <hr>
                                        <div class="ratting-hotel">
                                            <div>
                                                <span class="age-rating" th:text="${hotel.getRating()}">  8,8</span>
                                                <span class="rating-text"  th:text="${hotel.getRatingText()}"> Tuyệt vời</span>
                                            </div>
                                            <div>
                                                <span class="quantity" th:text="${hotel.getReviews().size()}"></span>
                                                <span class="reviews"> nhận xét</span>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="description-price">
                                            <span class="description-price">Mỗi đêm chỉ từ </span>
                                            <span> <del> 123456 </del> đ</span>
                                        </div>
                                        <div class="price-hotel">
                                            <span class="price">506.000 </span>
                                            <span class="unit">đ</span>
                                        </div>



                                    </div>
                                </a>
                                <div class="delete">
                                    <button th:value="${hotel.id}" class="btn-delete" type="button">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                </div>
                            </div>
                        </div >
                    </div>
                </div>
            </th:block>
        </div>

    </section>


</div>

<th:block id="js">
    <script src="/web/assets/js/list-hotel-favourite.js"></script>
</th:block>

</body>
</html>