<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{::title},~{::#css},~{::#main-content},~{::#js})}">
<head>
    <title>list Hotel</title>



    <th:block id="css">
        <link rel="stylesheet" href="/web/assets/css/style-hotel-list.css">
    </th:block>

</head>
<body>


<span id="main-content">
    <section class="search p-3">
        <div class="container">
            <div class="row">

                 <div class="col-4">
                    <div class="inputdata-search d-flex align-items-center p-1">
                        <i style="font-size: 20px;" class="fa-solid fa-location-dot"></i>
                        <input type="text" class=" w-100 p-2  " placeholder="Tìm địa điểm, khách sạn, v.v.">

                    </div>
                </div>
                <div class="col-4">
                    <div class="inputdata-search d-flex align-items-center p-1">
                        <i style="font-size: 20px;" class="fa-solid fa-calendar-days"></i>
                        <input id="date-range" type="text" class=" w-100 p-2  " placeholder="Tìm địa điểm, khách sạn, v.v.">

                    </div>
                </div>
                <div class="col-3">
                    <div class="inputdata-search d-flex align-items-center p-1">
                        <i style="font-size: 20px;" class="fa-solid fa-user-group"></i>
                        <input type="text" class=" w-100 p-2  " placeholder="Tìm địa điểm, khách sạn, v.v.">

                    </div>
                </div>
                <div class="col-1">
                    <button type="submit" class="btn-search w-100 h-100 py-2"><i class="fa-solid fa-magnifying-glass"
                                                                                 style="color: #f7f9fc; font-size: 20px;"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>


    <div class="mt-3">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="map border">
                        <a class="link-map w-100 text-reset text-decoration-none" href="#">
                            <img class="image-map" src="/web/assets/image/bkg-map-entry.svg" alt="">
                            <i class="fa-solid fa-location-dot"></i>
                            <div class="d-flex justify-content-center my-2">
                                Xem vị trí
                            </div>
                        </a>
                    </div>
                    <div class="search-by-name-hotel mt-4">
                        <h3>Tìm kiếm theo tên nơi lưu trú</h3>
                        <div class="input-data w-100">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input class="input-name-hotel" type="text" placeholder="VD:Vinpearl">
                        </div>

                    </div>
                    <div class="price-slider w-100 my-4">
                        <header>
                            <h6>Giá mỗi đêm</h6>
                        </header>
                        <div class="price-input">
                            <div class="field ">
                                <span class="m-0 p-0">Tối thiểu</span>
                                <div class="d-flex justify-content-between px-2">
                                    <input type="number" class="input-min m-0 p-0" value="2500"/>
                                    <span>đ</span>
                                </div>
                            </div>
                            <div class="seperator">-</div>
                            <div class="field">
                                <span class="mt-4">Tối đa</span>
                                <div class="d-flex justify-content-between px-2">
                                    <input type="number" class="input-max m-0 p-0" value="7500"/>
                                    <span>đ</span>
                                </div>
                            </div>
                        </div>
                        <div class="slider">
                            <div class="progress"></div>
                        </div>
                        <div class="range-input">
                            <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                            <input type="range" class="range-max" min="0" max="10000"
                                   value="7500" step="100">
                        </div>
                    </div>
                    <h4>Lọc theo</h4>
                    <form class="sort-by-rental-type">
                        <h6>Loại hình lưu trú :</h6>
                        <ul class="list-unstyled ps-3">
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Khách sạn</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Nhà Nghỉ tư nhân</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Resort</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Khách sạn căn hộ</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Villa</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Khu nghỉ dưỡng</label>
                            </li>
                            <a href="#">Xem thêm</a>
                        </ul>

                    </form>
                    <form class="sort-by-rental-type">
                        <h6>Tiện ích, dịch vụ</h6>
                        <ul class="list-unstyled ps-3">
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Wifi</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label >Spa</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Gym</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Bãi đậu xe</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Nhà hàng</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Trạm sạc xe điện</label>
                            </li>
                            <a href="">Xem thêm</a>
                        </ul>

                    </form>

                    <form class="sort-by-rental-type w-100">
                        <h6>Xếp hạng sao</h6>
                        <ul class="list-unstyled ps-3 d-flex w-100">
                            <li>
                                <button class="number-star border">
                                    1<i class=" m-1 fa-solid fa-star" style="color: #FFD43B;"></i>
                                </button>

                            </li>
                            <li>
                                <button class="number-star border">
                                    2<i class=" m-1 fa-solid fa-star" style="color: #FFD43B;"></i>
                                </button>

                            </li>
                            <li>
                                <button class="number-star border">
                                    3<i class=" m-1 fa-solid fa-star" style="color: #FFD43B;"></i>
                                </button>

                            </li>
                            <li>
                                <button class="number-star border">
                                    4<i class=" m-1 fa-solid fa-star" style="color: #FFD43B;"></i>
                                </button>

                            </li>
                            <li>
                                <button class="number-star border">
                                    5<i class=" m-1 fa-solid fa-star" style="color: #FFD43B;"></i>
                                </button>

                            </li>


                        </ul>

                    </form>
                    <form class="sort-by-rental-type">
                        <h6>Hình thức thanh toán </h6>
                        <ul class="list-unstyled ps-3">
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Đặt ngay, thanh toán sau</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Thanh toán bằng thẻ ngân hàng</label>
                            </li>

                        </ul>

                    </form>

                    <form class="sort-by-rental-type">
                        <h6>Đánh giá của khách hàng</h6>
                        <ul class="list-unstyled ps-3">
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Bất kì</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Tuyệt vời 9+</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Rất tốt 8+</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Tốt 7+</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Khá 6+</label>
                            </li>
                        </ul>

                    </form>


                    <form class="sort-by-rental-type">
                        <h6>Số lượng phòng ngủ</h6>
                        <ul class="list-unstyled ps-3">
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>Studio</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>1 Phòng ngủ</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>2 Phòng ngủ</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>3 Phòng ngủ</label>
                            </li>
                            <li>
                                <input class=" m-2 custom-checkbox" type="checkbox">
                                <label>4+ Phòng ngủ</label>
                            </li>
                        </ul>

                    </form>


                </div>
                <div class="col-9">
                    <div class="result  p-1" >
                        <h4><th:block th:text="${nameCity}"></th:block> tìm thấy <th:block th:text="${hotelList.size()}"></th:block> chỗ nghỉ</h4>
                    </div>
                    <div class="sort-by border shadow  d-flex justify-content-center align-items-center">
                        <div class=" col-1  d-flex justify-content-center align-items-center">
                           <span>
                            Sắp xếp
                           </span>
                        </div>
                        <div class="col-2 ">
                            <button class="py-2 type-sort h-100 w-100  d-flex justify-content-center " type="submit">Phù hợp
                                nhất
                            </button>

                        </div>

                        <div class="col-2 ">
                            <button class="py-2 type-sort h-100 w-100  d-flex justify-content-center " type="submit">Giá
                                Thấp đến cao
                            </button>
                        </div>
                        <div class="col-2 ">
                            <button class="py-2 type-sort h-100 w-100  d-flex justify-content-center " type="submit">Giá
                                Thấp đến cao
                            </button>
                        </div>
                        <div class="col-3 ">
                            <button class="py-2 type-sort h-100 w-100  d-flex justify-content-center " type="submit">Được
                                đánh giá nhiều nhất
                            </button>
                        </div>
                        <div class="col-2">
                            <button class="py-2 type-sort h-100 w-100  d-flex justify-content-center " type="submit">Xếp
                                hạng sao
                            </button>


                        </div>


                    </div>



                    <div class=" mt-4 ">

                        <h6 th:if="${hotelList.size()==0}">Rất tiếc, Không có nơi lưu chú nào phù hợp vớp bạn </h6>

                        <div th:if="${hotelList.size()>0}" class="row " th:each="hotel : ${hotelList}">

                            <a class="card-hotel text-reset text-decoration-none d-flex my-3"th:href="@{/chi-tiet-khach-san/{id} (id = ${hotel.id})}">

                                <div class="course w-100 border">
                                    <div class="image-btn">
                                        <img class="course-preview " src="/web/assets/image/uudai.jpg">
                                        <button class="btn-favourite p-0 m-0">
                                            <i class="fa-regular fa-heart"></i>
                                        </button>

                                    </div>
                                    <div class="course-info">
                                        <h5 class="p-0">
                                            <th:block th:text="${hotel.name}"></th:block>
                                        </h5>
                                        <span ><i class="fa-solid fa-star" style="color: #CF2061;"th:each="star : ${#numbers.sequence(0,hotel.star)}" ></i></span>
                                        <p class="m-0"><i class="fa-solid fa-location-dot"></i> <th:block th:text="${hotel.address}"></th:block> </p>
                                        <div class="w-50 list-amenity" >
                                            <span th:each="num : ${#numbers.sequence(0,2)}"  class="w-50 mb-5">
                                            <th:block th:utext="${hotel.getAmenityHotelList().get(num).getIcon()}"> </th:block>
                                            <th:block th:text="${hotel.getAmenityHotelList().get(num).getName()}"> </th:block>
                                            </span>
                                        </div>

                                        <div class="total-review d-flex ">
                                            <div class="age-rating">9,6</div>
                                            <div class="infor-rating-hotel">
                                                <h6 class="p-0 m-0">Tuyệt vời</h6>
                                                <span class="quantity">450 nhận xét</span>
                                            </div>
                                        </div>
                                        <ul class="price list-unstyled justify-content-center p-0 m-0">
                                            <span class="description-price">Giá mỗi đêm chưa bao gồm thuế & phí</span>

                                            <li class="p-0 wrapper w-100 d-flex justify-content-end">
                                                <span class="original-price "><del>1.300.500 ₫</del></span>
                                                <span class="discount px-2"> Giảm 15%</span>

                                            </li>
                                            <h4 class="p-0 current-price w-100 d-flex justify-content-end">1.150.000₫</h4>


                                        </ul>
                                    </div>
                                </div>

                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="pr my-5">
        <div class="container">
            <div class="row">
                <div class="wrap-pr d-flex">
                    <div class="col-4">
                        <img class="w-100 image-pr" src="/web/assets/image/uudai.jpg" alt="">
                    </div>
                    <div class="col-6 px-3">
                        <div class="title-pr mt-2 ">
                            <h3>Hưởng nhiều quyền lợi hơn với app STAYEASE</h3>
                        </div>
                        <div class="content-pr pt-2">
                            <p>Tiết kiệm tại một số khách sạn . Với ưu đãi trên app của chúng tôi, bạn có thể tiết kiệm để
                                đi được nhiều hơn và quản lý mọi thứ trong khi đang di chuyển</p>
                        </div>
                        <div class="btn-pr">
                            <a href="#">Xem chi tiết</a>
                        </div>

                    </div>


                </div>


            </div>
        </div>
    </div>
</span>
<th:block id="js">
    <script src="/web/assets/js/hotel-list.js"></script>
</th:block>

</body>
</html>