<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{::title},~{::#css},~{::#main-content},~{::#js})}">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <th:block id="css">
        <link rel="stylesheet" href="/web/assets/css/style-profile-user.css">
    </th:block>
</head>
<body>

<section id="main-content" class="my-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-3">
                <div class="">
                    <h4 class=" m-0 w-100">Xin Chào Tuyen Truong !</h4>
                    <span class=" m-0">truongvantuyen.it@gmail.com</span>
                </div>
                <a class="profile-menu text-reset text-decoration-none" th:onclick="renderEditProfile()">
                    <span> <i class="fa-solid fa-user"></i> Hồ sơ</span>
                    <span> <i class="fa-solid fa-angle-right"></i></span>
                </a>

                <a class="profile-menu text-reset text-decoration-none" th:onclick="renderSetting()">
                    <span> <i class="fa-solid fa-gear"></i> Thiết lập</span>
                    <span> <i class="fa-solid fa-angle-right"></i></span>
                </a>


                <a class="profile-menu text-reset text-decoration-none" id="logout">
                    <span> <i class="fa-solid fa-arrow-right-from-bracket"></i> Đăng xuất</span>
                    <span> <i class="fa-solid fa-angle-right"></i></span>
                </a>


            </div>
            <div class="col-8">
                <div class="my-setting-container">

                </div>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Đổi mật khẩu</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label class="input-password">
                            Mật khẩu hiện tại
                            <input  type="password" placeholder=" Mật khẩu hiện tại">
                        </label>
                        <label class="input-password">
                            Mật khẩu mới
                            <input type="password" placeholder="Mật khẩu mới">
                        </label>
                        <label class="input-password">
                            Xác nhận mật khẩu mới
                            <input  type="password" placeholder="Nhập lại mật khẩu">
                        </label>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary"> Lưu lại thay đổi</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<th:block id="js">
    <script src="/web/assets/js/profile.js"></script>
</th:block>


</body>
</html>