<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar">
    <!-- Brand Logo -->
    <a href="/hotel-manager/information" class="brand-link">
        <img src="/admin-assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: 0.8"/>
        <span class="brand-text font-weight-light">Hotel Management</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/hotel-manager/dashboard}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            DashBoard
                        </p>
                    </a>

                </li>
                <li class="nav-item">
                    <a th:href="@{/hotel-manager/information}" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Thông tin
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Phòng
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/hotel-manager/room}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Danh sách phòng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/hotel-manager/room/create}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thêm phòng mới</p>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Đặt phòng
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/hotel-manager/bookings}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Danh sách đơn đặt</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/hotel-manager/room-price" class="nav-link">
                        <i class="nav-icon fas fa-solid fa-money-check"></i>
                        <p>
                           Giá
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>

                </li>
                <li class="nav-item">
                    <a  th:href="@{/hotel-manager/amenity}" class="nav-link">
                        <i class="nav-icon fas fa-tree"></i>
                        <p >
                            Tiện ích
                           </i>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/hotel-manager/policy" class="nav-link">
                        <i class="nav-icon fa-solid fas fa-building-shield"></i>
                        <p>Quản lý chính sách</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>

</body>
</html>