:root {
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
}
.navbar-expand-lg{
    background-color: #FFFFFF !important;
}

.img-logo{
    width: 200px;
    height: 50px;
    object-fit: cover;
    background-color: #F8F9FA;

}


/* style thanh tìm kiếm */
.search{
    background-color: #20274D;
}

.inputdata-search{
    border: none;
    border-radius: 10px;
    background-color: #E9ECEF
}


.inputdata-search input{

    border: none;
    border-radius: 10px;
    background-color: #E9ECEF

}
.inputdata-search input:focus{
    border: none;
    background-color: #E9ECEF;
    box-shadow: none;
    outline: none;

}

.btn-search{
    background-color:#5392F9;
    border-radius: 10px;
    border: none
}


.btn-search button{
    background-color: aliceblue;
    border: none;


}
.button-guest-number {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #E9ECEF;

    border-radius: 10px;

}
.button-guest-number label{
    font-size: 12px;
}
.button-guest-number .minus-guest{
    border: 1px solid var(--text-light);
    border-radius: 50%;
    cursor: pointer;

}
.button-guest-number .plus-guest{
    border: 1px solid var(--text-light);
    border-radius: 50%;
    cursor: pointer;
}
.button-guest-number .num-guest{

    pointer-events: none;
}


.button-room-number {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #E9ECEF;

    border-radius: 10px;
}
.button-room-number label{
    font-size: 12px;
}
.button-room-number .minus-room{
    border: 1px solid var(--text-light);
    border-radius: 50%;
    cursor: pointer;
}
.button-room-number .plus-room{
    border: 1px solid var(--text-light);
    border-radius: 50%;

}
.button-room-number .num-room{
    pointer-events: none;
}

/* style image hotel */
body {
    margin: 0;
}

.image-grid {
    --gap: 5px;
    --num-cols: 4;
    --row-height: 150px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    border: none;
    background-color: white;

}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}



.btn-list-favorite{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid var(--text-light) ;
    border-radius: 10px;
    background-color: white;
}

/* style nav-bar */
.nav-item .nav-link{
    border: none;
    background-color: white;
    color: var(--text-dark);
}
.nav-item .nav-link:hover{
    background-color: #435681;
    color: var(--extra-light);
}

/* style-content-hotel */
.content-hotel{
    width: 70%;
    outline: none;
    padding-top: 10px;
}

.item-star i {
    font-size: 15px;
    color: rgb(235, 151, 17);
}
.desciption-hotel{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif ;
}

.amenity-grid {
    width: 80%;
    display: grid;
    column-gap: 10px;
    grid-template-columns:  auto auto;

}
.amenity-grid .grid-item{
    padding: 5px 0 ;

}
/* style map rating hotel */

.map-review-hotel{
    margin-top: 10px;
    width: 30%;
    border-radius: 10px;
}

.ratting-hotel {
    margin: 5px ;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    padding: 5px 0px;
    letter-spacing: 1px;
    display: flex;
    justify-content: end;
}
.age-rating{

    background-color: #227950;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;



    letter-spacing: 1px;
}
.infor-rating-hotel{
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    line-height: 20px;
    margin-left: 5px;
}
.quantity{
    font-size: 13px;
}

.deatail-review{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}

/* style card room */



.select-number-bed .btn-select{
    border: 1px solid var(--text-light);
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px ;
    margin: 0px 5px ;


}

.card-room {
    position: relative;
    border: 1px solid #DFE0E4;
    border-radius: 10px;
    margin: 15px 0 ;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

}
.card-room img{

    object-fit: cover;
    height: 200px;
    max-height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.btn-show-image-room{

    position: absolute;
    top: 150px;
    right: 10px;
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px ;
    color: var(--text-light);
}
.amenity-room span{
    font-size: 15px;

}
.discount{
    border: none;
    letter-spacing: 0.5px; /* Điều chỉnh khoảng cách giữa các ký tự */
    border-radius: 5px;
    background-color:#E03126;

    font-size: 15px;
    color: var(--extra-light);
}

.price-room{
    letter-spacing: 0.5px;
}
.original-price{
    margin: 2px;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.description-price {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    color: var(--text-light);
    font-size: 12px;
    margin: 5px 0px ;

}
.btn-booking{
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: none;
    border-radius: 20px;
    background-color: #1668E3;
    color: var(--white);
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
}

/*  style chính sách khách sạn */
.policy-hotel{
    border: 1px solid #DFE0E4;
    border-radius: 10px;
}




/* style review */
.wrapper-review{
    background-color: #F5F5F5;
}

.ratting-hotel-detail{
    display: flex; justify-content: center;
    align-items: center;

}
.age-rating-detail{
    margin: 10px;
    font-size: 60px;
}
.review-detail{
    padding: 5px;
    border: 1px solid #DFE0E4;
    border-radius: 10px;
}


/*  */
.pr{
    margin-top: 100px;
}

.wrap-pr .image-pr{
    object-fit: cover;
    height: 250px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.btn-pr {
    padding: 5px 5px;
    border-radius: 10px;
    background-color: var(--text-light);
    border: none;

    width: 100px;

}
.btn-pr a{

    text-decoration: none;
    color: white;

}

.infor-web {
    background-color:var(--primary-color-dark);
    color: var(--extra-light);

}
