body{
    background-color: #F9F9F9;
}

.form-register {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 1px solid #E7E7E7 !important;
    background-color: #FFFFFF;
    padding: 0 20px 20px;
    border-radius: 10px;
}

.title-description {
    margin: 15px 0;
}

.title-description .title-form {

    margin-bottom: 0;
    letter-spacing: 1px;
    font-weight: 550;
}
.title-description .description-form {
    letter-spacing: 1px;
    font-weight: 500;
}




.input-account{
    display: flex;
    flex-direction: column;
}
.input-account  span{
    font-size:17px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 5px 0;
}
.input-box{
    position: relative;
}
.input-box input{
    border: 1px solid #E7E7E7 !important;
    padding: 7px 7px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}
.input-box input:focus{
    border: none;
    outline-color:#5392F9;
}
.input-box i{
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
}

.btn-register{
    border: none;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 5px;
    background-color:#5392F9 ;
    color: #F5F5F5;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}







.customs-register {
    width: 100%;
    display: flex;
    text-align: center;

    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    margin-top: 30px;
}
.line {
    min-width: 1px;
    width: 100%;
    flex: 1 1 0%;
    margin: 0px;
    border-bottom: 1px solid rgb(221, 223, 226);
}

.login-google{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    border: 1px solid #5392F9 !important;
    padding: 10px 0;
    margin-top: 15px;
    border-radius: 10px;
    margin-bottom: 25px;

    text-decoration: none;
}
.login-google span{
    font-size: 17px;
    font-weight: 500;
    color: #183153;
}

.back-login{
    margin-top: 25px;
    display: flex;
    justify-content:center;
    font-size: 15px;

    letter-spacing: 1.5px;
    text-decoration: none;
}

