

.profile-menu{
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid var(--text-light);
    padding: 10px 10px;
    margin: 15px 0;
    cursor: pointer;

}
.profile-menu span{
    font-size: 16px ;
    padding: 0 0;
    font-weight: 350;
}
.profile-menu i{
    padding: 0 0;
    margin-right: 10px;
    margin-left: 5px;
    font-size: 18px ;
}

.my-setting-container{
    min-height: 400px;
}

.information-user {
    border-radius: 15px;
    padding: 10px 0 10px 20px;
    border: 1px solid var(--text-light);
    width: 100%;
}
.information-user button{
    border: none;
    background-color: var(--white);
    color: #5392F9;
    width: 100%;
}.setting-account {
    border-radius: 15px;
    padding: 10px 0 10px 20px;
    border: 1px solid var(--text-light);
    width: 100%;
}
.setting-account button{
    border: none;
    background-color: var(--white);
    color: #5392F9;
    width: 100%;
}

.input-birth-day select{
    border-radius: 10px;
    padding: 5px 10px;
    width: 200px;
    margin: 0 10px;
}
.input-birth-day input{
    border-radius: 10px;
    padding: 5px 10px;
    width: 150px;
    border: 1px solid var(--text-light);
}


.edit-name{
    margin: 5px 5px;
}

.edit-name input{
    border: 1px solid var(--text-light);
    padding: 5px 5px;
    border-radius: 10px;
    width: 300px;
}
.edit-email input{
    border: 1px solid var(--text-light);
    padding: 5px 5px;
    border-radius: 10px;
}
.edit-phone-number input{
    border: 1px solid var(--text-light);
    padding: 5px 5px;
    border-radius: 10px;
}
.edit-address-number input{
    border: 1px solid var(--text-light);
    padding: 5px 5px;
    border-radius: 10px;
}
.edit-gender-number select{
    border-radius: 10px;
   padding: 5px 10px;
}
.edit-name, .edit-email, .edit-phone-number, .edit-address-number  input:focus{
   outline-color: #5392F9;
    box-shadow: none;
}
 .edit-address-number  input:focus{
    outline-color: #5392F9;
    box-shadow: none;
}

 .edit-phone-number  input:focus{
   outline-color: #5392F9;
    box-shadow: none;
}

.edit-email,  input:focus{
   outline-color: #5392F9;
    box-shadow: none;
}
.edit-name  input:focus{
   outline-color: #5392F9;
    box-shadow: none;
}

.pr {
    margin-top: 100px;
}

.wrap-pr .image-pr {
    object-fit: cover;
    height: 250px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.btn-pr {
    padding: 5px 5px;
    border-radius: 10px;
    background-color: var(--text-light);
    border: none;

    width: 100px;

}

.form-control{
    background-color: white !important;
    border: 1px solid var(--text-light)!important;
    border-radius: 10px !important;
    min-width: 200px;
    text-align: center;

}

.btn-pr a {

    text-decoration: none;
    color: white;

}

.btn-save{
    border: none;
    margin: 10px 10px;
    padding: 10px 20px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 10px;
    background-color: #5392F9;
    color: white;
}
.cancel{
    border: none;
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 500;
    background-color: white;
    color:#5392F9 ;

}

.modal-body{
    padding: 10px 10px;
}
.input-password {
     display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 500;
    margin: 5px 5px;
}
.input-password input{
    padding: 10px 10px;
    width: 90%;
    border-radius: 10px;
    border: none;
    background-color: #EDF0F9;
}
.input-password input:focus{
   outline: none;
}


