@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
    font-family: montserrat, arial, verdana;
}
/* style thanh tìm kiếm */
.search{
    background-color: #27374D;
}

.inputdata-search{
    border: none;
    border-radius: 10px;
    background-color: #E9ECEF;
}


.inputdata-search input{
    border: none;
    border-radius: 10px;
    background-color: #E9ECEF;

}
.inputdata-search #date-range{
    border: none;
    border-radius: 10px;
    background-color: #E9ECEF;

}
.inputdata-search input:focus{
    border: none;
    background-color: #E9ECEF;
    box-shadow: none;
    outline: none;

}


.btn-search{
    border-radius: 10px;
    border: none
}


.btn-search button{
    background-color: aliceblue;
    border: none;
}
.button-guest-number {
    padding: 7px;
    display: flex;
    justify-content: space-between;
    background-color: #E9ECEF;

    border-radius: 10px;

}
.button-guest-number label{
    font-size: 10px;
}
.button-guest-number .minus-guest{
    border: 1px solid var(--text-light);
    border-radius: 50%;
    cursor: pointer;

}
.button-guest-number .plus-guest{
    border: 1px solid var(--text-light);
    border-radius: 50%;
    cursor: pointer;
}
.button-guest-number .num-guest{

    pointer-events: none;
}

.button-room-number {
    padding: 7px;
    display: flex;
    justify-content: space-between;
    background-color: #E9ECEF;

    border-radius: 10px;
}
.button-room-number label{
    font-size: 12px;
}
.button-room-number .minus-room{
    border: 1px solid var(--text-light);
    border-radius: 50%;
    cursor: pointer;
}
.button-room-number .plus-room{
    border: 1px solid var(--text-light);
    border-radius: 50%;

}
.button-room-number .num-room{
    pointer-events: none;
}
.style-heart i{
    color: #F16767 !important;
}

/* style image hotel */
body {
    margin: 0;
}

.image-grid {
    --gap: 5px;
    --num-cols: 3;
    --row-height: 150px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr) 1fr; /* Thêm một cột mới vào cuối */
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    border: none;
    background-color: white;

}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
    border-radius: 5px;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}



.btn-favourite{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px ;
    border: 1px solid var(--text-light) ;
    border-radius: 50%;
    background-color: white;
}

/* style nav-bar */
.nav-item .nav-link{
    border: none;
    background-color: white;
    color: var(--text-dark);
}
.nav-item .nav-link:hover{
    background-color: #435681;
    color: var(--extra-light);
}

/* style-content-hotel */
.content-hotel{
    width: 70%;
    outline: none;
    padding-top: 10px;
}

.item-star i {
    font-size: 15px;
    color: rgb(235, 151, 17);
}
.description-hotel{
    font-size: 15px;
    margin-top: 0;
    padding-top: 0;
}

.amenity-grid {
    width: 80%;
    display: grid;
    column-gap: 10px;
    grid-template-columns:  auto auto;

}
.amenity-grid .grid-item{
    white-space: nowrap;
    padding: 5px 0 ;

}
/* style map rating hotel */

.map-review-hotel{
    margin-top: 10px;
    width: 30%;
    border-radius: 10px;
}
.image-map{
    object-fit: cover;
    width: 100%;
    height: 150px;
}
.address-hotel{
    white-space: nowrap;
    overflow: hidden;    /* Ẩn phần text tràn ra */
    text-overflow: ellipsis; /* Hiển thị dấu chấm lửng */
}

.ratting-hotel {
    margin: 5px ;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    padding: 5px 0px;
    letter-spacing: 1px;
    display: flex;
    justify-content: end;
}
.age-rating{

    background-color: #227950;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;



    letter-spacing: 1px;
}
.infor-rating-hotel{
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    line-height: 20px;
    margin-left: 5px;
}
.quantity{
    font-size: 13px;
}

.deatail-review{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}

/* style card room */



.select-number-bed .btn-select{
    border: 1px solid var(--text-light);
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px ;
    margin: 0px 5px ;


}

.card-room {
    position: relative;
    border: 1px solid #DFE0E4;
    border-radius: 10px;
    margin: 15px 0 ;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

}
.card-room img{

    object-fit: cover;
    height: 200px;
    max-height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.btn-show-image-room{
    position: absolute;
    top: 150px;
    right: 10px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px ;
    color: var(--text-dark);
    background: rgba(255, 255, 255, 0.5); /* Background xuyên thấu */
}
.room-index {
    display: flex;
    font-size: 15px;
    margin: 5px 0px;

}
.icon-room-index{
    width: 25px;
    height: 25px;
    display: flex;align-items: center;justify-content: center;
}
.icon-room-index i{
    font-size: 17px;
}


.discount{
    border: none;
    letter-spacing: 0.5px; /* Điều chỉnh khoảng cách giữa các ký tự */
    border-radius: 5px;
    background-color:#40A578;

    font-size: 15px;
    color: var(--extra-light);
}

.price-room{
    letter-spacing: 0.5px;
}
.original-price{
    margin: 2px;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.description-price {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    color: var(--text-light);
    font-size: 12px;
    margin: 5px 0px ;

}
.btn-booking{
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: none;
    border-radius: 20px;
    background-color: #526D82;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    color: #F5F5F5 !important;
}

/*  style chính sách khách sạn */
.policy-hotel{
    border: 1px solid #DFE0E4;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}




/* style review */
.wrapper-review{
    border-radius: 20px;
}
.ratting-hotel-detail{
    background-color: #DDE6ED;
    border-radius: 20px;
}

.ratting-hotel-detail{
    display: flex; justify-content: center;
    align-items: center;

}
.age-rating-detail{
    margin: 10px;
    font-size: 60px;
}
.review-detail{
    padding: 5px;
    border: 1px solid #DFE0E4;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.age-user-review{
    margin-left: 10px !important;
}


.creatAt-review{
    font-size: 14px;
    margin-left: 10px;
}
.name-user-review{
  margin-bottom: 0;
    margin-left: 10px;
}
.content-review{
    margin-left: 10px;
    margin-top: 5px;

}
.warp-button-edit{
    padding:0!important;
}
.btn-edit-review{
    margin: 0 !important;
    padding: 0 !important;
}


/*  */
.pr{
    margin-top: 100px;
}

.wrap-pr .image-pr{
    object-fit: cover;
    height: 250px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.btn-pr {
    padding: 5px 5px;
    border-radius: 10px;
    background-color: var(--text-light);
    border: none;

    width: 100px;

}
.btn-pr a{

    text-decoration: none;
    color: white;

}


.rating {
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
}

.star {
    display: inline-block;
}

.star:hover,
.star.active {
    color: #EDBB0E;
}

#reviewContent{
    height: 150px;
}


/* modal - ảnh khách sạn*/
.modal-xl{
    width: 1000px !important;
}

.modal-image{
    display: grid;
    overflow-y: auto; /* Kích thước thanh trượt sẽ xuất hiện khi nội dung vượt quá kích thước */
    max-height: 500px;

    grid-template-columns: 1fr 1fr;
    gap: 7px;
}
.modal-image img{
    width: 100%;
    height: 270px;
    border-radius: 5px;
}
.list-filter-image{
    overflow-x: scroll;
    white-space: nowrap;
}
.btn-filter-type-image{
    border: 1px solid var(--text-light);
    min-width: 100px;
    border-radius: 20px;
    padding: 5px 5px;
    margin: 5px 3px;
    font-size: 13px;

    background-color: white;
}
.btn-filter-type-image:focus{
    border: 1px solid var(--text-light);
    min-width: 100px;
    border-radius: 20px;
    padding: 5px 5px;
    margin: 5px 3px;
    font-size: 13px;


    background-color: #ECF4FD;
}
.container-modal-image{
    border-radius: 20px !important;
}

/* modal amenity hotel */
.btn-show-amenity-hotel{
    font-size: 14px;
}
.show-amenity-hotel{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 7px;
}
.title-amenity-hotel{
    margin-left: 1rem;
    font-size: 18px;
}
.title-service{
    margin-left: 1rem;
    font-size: 18px;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}


.icon-amenity{
    margin-right: 10px;

}
.name-amenity{
    font-size: 14px !important;
}
.btn-show-detail-room{
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container-modal-room-detail{
    width: 700px!important;
}
.modal-room-detail img{
    object-fit: cover;
    height: 350px!important;
}

/**/
.slider-main {
    position: relative;
}

.slider-main .fa-angle-left {
    position: absolute;
    top: 40%;
    left: 10px;
    font-size: 20px;
    color: #0d6efd;
    background-color: #F5F5F5;
    padding: 8px 12px;
    border-radius: 50%;

}



.slider-main .fa-angle-right {
    position: absolute;
    top: 40%;
    right: 10px;
    font-size: 20px;
    color: #0d6efd;
    background-color: #F5F5F5;
    padding: 8px 12px;
    border-radius: 50%;
}

.slider-main img{
    border-radius: 15px;
}
.btn-close{
    border: 1px solid var(--text-light);
    border-radius: 50%;
}
.information-room .name-hotel{
    font-size: 25px;
}
.wrap-icon{
    margin: 15px;
    display: flex;
    align-content: center;
}
.icon-amenity{
    width: 30px;
    margin-right: 20px;
}
.icon-amenity i{
    font-size: 20px;
}
.name-amenity-modal{
    font-size: 17px;
    font-weight: 500;
}
.title-amenity-room{
    font-size: 25px;
}
.amenity-room-detail{
    margin: 15px;
}

.wrap-amenity-room{
    min-width: 50%;
}
.title-amenity-type{
    margin-left: 10px;
}
.wrap-modal{
    border: 1px solid var(--text-light);
    border-radius: 10px;
    padding: 15px;
}
.title-price-modal{
    font-size: 20px;
}
.price-room-new{
padding: 0;
    margin-bottom: 0;
    margin-right: 11px;
}
.price-room-modal{
    display: flex;
    align-items: center;
}
.original-price-modal{
    font-size: 13px;
}
#submitReview{
    background-color: #526D82;
    color: #F5F5F5;
}
.warp-button-edit{
    margin-top: 5px;
    margin-left: 10px;
}