:root {
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --primary: #eeeeee;
    --secondary: #227c70;
    --green: #82cd47;
    --secondary-light: rgb(34, 124, 112, 0.2);
    --secondary-light-2: rgb(127, 183, 126, 0.1);
    --white: #fff;
    --black: #393e46;

    --shadow: 0px 2px 8px 0px var(--secondary-light);
}


.navbar-expand-lg{
    background-color: #FFFFFF !important;
}

.img-logo{
    width: 200px;
    height: 50px;
    object-fit: cover;
    background-color: #F8F9FA;

}

.profile-dropdown {
    position: relative;
}

.profile-dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 500;
    border-radius: 50px;
    color: var(--black);
    cursor: pointer;
    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
    background-color: var(--secondary-light-2);
    box-shadow: var(--shadow);
}

.register{
    text-align: center;
    width: 170px;
    border: 1px solid #5392F9;
    border-radius: 10px;
    margin: 0 5px;
}

.login{
    text-align: center;
    width: 150px;
    border: 1px solid #5392F9;
    border-radius: 10px;
    margin: 0 5px;
}

.login i{
    margin-right: 7px;
}
.register i{
    margin-right: 7px;
}
.profile-dropdown-btn{
    border: 1px solid #5392F9;
    border-radius: 10px;
    margin: 0 5px;
}

.profile-dropdown-btn .btn-user {
    max-width: 150px;
    min-width: 100px;
    margin: 0 5px 0 1rem;
    overflow: hidden;
    text-overflow: ellipsis; /* Hiển thị dấu chấm (...) khi nội dung bị cắt */
    white-space: nowrap; /* Ngăn chặn nội dung xuống dòng */
    text-align: center;
}

.profile-dropdown-list {
    position: absolute;
    top: 40px;
    width: 220px;
    right: 0;
    background-color: #F5F5F5;

    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: max-height 0.5s;
    z-index: 1000;
}

.profile-dropdown-list hr {
    border: 0.5px solid var(--green);
}

.profile-dropdown-list.active {
    max-height: 500px;
}

.profile-dropdown-list-item {
    padding: 0.5rem 0 0.5rem 1rem;
    transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--black);
    cursor: pointer;
}

.profile-dropdown-list-item a i {
    font-size: 1.1rem;
    width: 2.3rem;
    height: 2.3rem;
    line-height: 2.3rem;
    text-align: center;
    margin-right: 1rem;
    border-radius: 50%;
    transition: margin-right 0.3s;
}
.infor-web {
    background-color: var(--primary-color-dark);
    color: var(--extra-light);
}