


.booking-detail {
    margin-top: 30px !important;
}

.infor-booking {
    padding-left: 100px;
}


.link-search-and-rebook {

    width: 500px;
}

.name-hotel {
    font-weight: 1000;
    text-decoration: none;
    font-size: 25px;
    color: #27374D;
}

.id-booking {
    border: 1px solid #E7E7E7;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #DDE6ED;
}
.cancel-booking{
    border: 1px solid #E7E7E7;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.btn-cancel-booking {
    background-color: #526D82;
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 10px;
    border: none;
}
.reviews{
    border: 1px solid #E7E7E7;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.create-review {
    background-color: #526D82;
    color: #F5F5F5;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 10px;
    border: none;
}
.create-review:hover{
    background-color: #9DB2BF;
    color: #F5F5F5;
}

#submitReview{
    background-color: #27374D;
    color: #F5F5F5;
}


.contact{
    border: 1px solid #E7E7E7;
    padding: 10px;
    border-radius: 10px;
}
.title-contact{
    font-size: 14px;
    margin-bottom: 10px;
}
.phone{
    margin-top: 8px;
}
.email{
    margin-bottom: 8px;
}

.infor-detail {
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    border: 1px solid #E7E7E7;
    border-radius: 10px;

}

.wrap-booking {
    width: 70%;
    border-radius: 10px;
    margin-right: 10px;
    padding: 0px 10px;
}

.content-in-out {
    margin: 0 0;
}

.image-hotel {
    width: 250px;
    max-height: 305px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.title-detail-room{

    margin-top: 20px;
}

.room-detail{
    padding: 0 10px;
}

.image-room{
    width: 50%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.booking-detail{
    margin-bottom: 100px;
}

.rating {
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
}

.star {
    display: inline-block;
}

.star:hover,
.star.active {
    color: #EDBB0E;
}

#reviewContent{
    height: 150px;
}
