<!doctype html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{hotel-management/layout/layout.html :: layout(~{::title},~{::#css},~{::#main-content},~{::#js})}">
<head>
    <title>Tiện ích và giường</title>

    <th:block id="css">
        <link rel="stylesheet" href="/admin-assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"/>
        <link rel="stylesheet" href="/admin-assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"/>
        <link rel="stylesheet" href="/admin-assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css"/>
    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="main-content">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/admin/dashboard">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Tiện ích và giường
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
<!--                <div class="row py-2">-->
<!--                    <div class="col-12">-->
<!--                        <a href="/admin/movies/create" type="button" class="btn btn-primary">-->
<!--                            <i class="fas fa-plus"></i> Tạo phim-->
<!--                        </a>-->
<!--                        <a href="/admin/movies" type="button" class="btn btn-info">-->
<!--                            <i class="fas fa-redo"></i> Refresh-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body ">
                                <h4 class="mb-3">Tiện ích khách sạn</h4>
                                <table class="table table-bordered table-hover" id="amenity-room-table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên tiện ích</th>
                                        <th>Loại tiện ích</th>
                                        <th style="width: 10%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="amenityHotel : ${amenityHotelList}">

                                        <td th:text="${amenityHotel.id}"></td>
                                        <td th:text="${amenityHotel.name}"></td>
                                        <td th:text="${amenityHotel.amenityHotelType.value}"></td>
                                        <td>
                                            <button class="btn btn-success btn-sm mx-1" data-toggle="modal"
                                                    data-target="#modal-amenity-hotel">
                                                <i class="fas fa-pencil-alt"></i>
                                            </button>
                                            <button class="btn btn-danger btn-sm mx-1">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <button name="bed" type="button" class="btn btn-info btn-flat rounded" data-toggle="modal"
                                        data-target="#modal-amenity-hotel">
                                    <i class="fa-solid fa-plus"></i>
                                    Thêm mới
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Tiện ích phòng</h4>
                                <table class="table table-bordered table-hover" id="amenity-hotel-table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên tiện ích</th>
                                        <th>Loại tiện ích</th>
                                        <th style="width: 10%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="amenityRoom : ${amenityRoomList}">
                                        <td th:text="${amenityRoom.id}"></td>
                                        <td th:text="${amenityRoom.name}"></td>
                                        <td th:text="${amenityRoom.amenityRoomType.value}"></td>
                                        <td>
                                            <button class="btn btn-success btn-sm mx-1"
                                                    data-toggle="modal"
                                                    data-target="#modal-amenity-room">
                                                <i class="fas fa-pencil-alt"></i>
                                            </button>
                                            <button class="btn btn-danger btn-sm mx-1">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <button name="bed" type="button" class="btn btn-info btn-flat rounded" data-toggle="modal"
                                        data-target="#modal-amenity-room">
                                    <i class="fa-solid fa-plus"></i>
                                    Thêm mới
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mb-3">Giường</h4>
                                <table class="table table-bordered table-hover" id="bed-table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Loại giường</th>
                                        <th>Kích cỡ</th>
                                        <th style="width: 10%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="bed : ${bedList}">
                                        <td th:text="${bed.id}"></td>
                                        <td th:text="${bed.bedType.value}"></td>
                                        <td th:text="${bed.bedSize.value}"></td>
                                        <td class="">
                                            <button class="btn btn-success btn-sm mx-1" data-toggle="modal"
                                                    data-target="#modal-bed">
                                                <i class="fas fa-pencil-alt"></i>
                                            </button>
                                            <button class="btn btn-danger btn-sm mx-1">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="card-footer">
                                <button name="bed" type="button" class="btn btn-info btn-flat rounded" data-toggle="modal"
                                        data-target="#modal-bed">
                                    <i class="fa-solid fa-plus"></i>
                                    Thêm mới
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-amenity-hotel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Thêm mới tiện ích cho khách sạn</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <i style="min-width: 3%" class="fa-solid fa-monument"></i>
                                <label>Tên tiện ích</label>
                                <input  name="title" type="text" class="form-control" id="title" />
                            </div>

                            <div class="form-group">
                                <label>Loại tiện ích</label>
                                <select id="status" class="form-control">
                                    <option th:each="amenityHotel : ${amenityHotelType}" th:text="${amenityHotel.value}">
                                    </option>
                                </select>
                            </div>

                            <div class="d-flex justify-content-end mt-5">
                                <div>
                                    <button class="btn btn-success" id="save-amenity-hotel" >Lưu</button>
                                </div>
                            </div>
                            <!-- Hiển thị danh sách ảnh -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-amenity-room" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Thêm mới tiện ích cho phòng</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <i style="min-width: 3%" class="fa-solid fa-monument"></i>
                                <label>Tên tiện ích</label>
                                <input  name="title" type="text" class="form-control" id="title-modal-amenity-room" />
                            </div>

                            <div class="form-group">
                                <label>Loại tiện ích</label>
                                <select id="status-modal-amenity-room" class="form-control">
                                    <option class="my-1" th:each="amenityRoom : ${amenityRoomType}" th:text="${amenityRoom.value}">
                                    </option>
                                </select>
                            </div>

                            <div class="d-flex justify-content-end mt-5">
                                <div>
                                    <button class="btn btn-success" id="save-amenity-room" >Lưu</button>
                                </div>
                            </div>
                            <!-- Hiển thị danh sách ảnh -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-bed" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Thêm loại giường mới</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Loại giường</label>
                                <select id="select-type-bed" class="form-control">
                                    <option class="my-1" th:each="bedTy : ${bedType}" th:text="${bedTy.value}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Kích cỡ</label>
                                <select id="select-size-bed" class="form-control">
                                    <option class="my-1" th:each="bedSi : ${bedSize}" th:text="${bedSi.value}">
                                    </option>
                                </select>
                            </div>

                            <div class="d-flex justify-content-end mt-5">
                                <div>
                                    <button class="btn btn-success" id="save-modal-bed" >Lưu</button>
                                </div>
                            </div>
                            <!-- Hiển thị danh sách ảnh -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<th:block id="js">
    <script src="/admin-assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin-assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/admin-assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/admin-assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/admin-assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/admin-assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>

    <script>
        $('#amenity-room-table').DataTable({
            "pageLength": 5,
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "order": []
        }); $('#amenity-hotel-table').DataTable({
            "pageLength": 5,
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "order": []
        }); $('#bed-table').DataTable({
            "pageLength": 5,
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "order": []
        });
    </script>
</th:block>
</body>

</html>