<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{::title},~{::#css},~{::#main-content},~{::#js})}">
<head>
    <meta charset="UTF-8">
    <title>Quên mật khẩu</title>
    <th:block id="css">
        <link rel="stylesheet" href="/web/assets/css/style-forgot-password.css">
    </th:block>
</head>
<body>

<section id="main-content" class="my-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-5">

                <form id="form-forgot-password" class="form-forgot-password">

                    <div class="title-description">
                        <h3 class="title-form">
                          Lấy lại mật khẩu
                        </h3>
                    </div>
                    <th:block th:if="${!verifyToken.success}" >
                        <span th:text="${verifyToken.message}"></span>
                    </th:block>

                    <th:block th:if="${verifyToken.success}">
                        <div class="input-account">
                            <span>Mật khẩu </span>
                            <div class= "form-group">
                                <div class="input-password m-0 p-0">
                                    <input  name="password" class="password form-control" type="password" placeholder="Mật khẩu">
                                    <button type="button" class="show-password"><i class="fa-regular fa-eye"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="input-account">
                            <span>Xác nhận mật khẩu</span>
                            <div class= "form-group">
                                <div class="input-password m-0 p-0">
                                    <input id="confirmPassword" name="confirmPassword" class="confirm-password form-control" type="password" placeholder="Xác nhận mật khẩu">
                                    <button type="button" class="show-password-confirm"><i class="fa-regular fa-eye"></i></button>
                                </div>
                            </div>
                        </div>

                        <button class="btn-password-retrieval" type="button">
                            Lấy lại mật khẩu
                        </button>
                    </th:block>

                </form>

            </div>
        </div>


    </div>
</section>


<th:block id="js">
    <script th:inline="javascript">
        const currentToken = [[${token}]];
        const  btnPasswordRetrieval = document.querySelector('.btn-password-retrieval');
        const  confirmPassword = document.querySelector('.confirm-password');

        btnPasswordRetrieval.addEventListener('click',()=>{
            if (!$('#form-forgot-password').valid()) return;
            let data = {
                nameToken : currentToken,
                password : confirmPassword.value
            }
            console.log(data)
            axios.put('/api/auth/password-retrieval',data)
                .then((res) =>{
                    toastr.success("Thay đổi mật khẩu thành công.")
                   setTimeout(()=>{
                       window.location.href ="/account/login";
                   },2000)
                }).catch((err) =>{
                    console.log(err)
                toastr.success(err.response.data.message)
            })
        })
        $('#form-forgot-password').validate({
            rules: {
                password: {
                    required: true,
                    // length : 6
                },
                confirmPassword: {
                    required: true,
                    // length : 6
                    equalTo: "[name='password']"
                },
            },
            messages: {
                password: {
                    required: "Mật khẩu không được để trống",
                },
                confirmPassword: {
                    required: "Vui lòng nhập lại mật khẩu của bạn",
                    equalTo: "Mật khẩu không trùng khớp"
                },
            },
            errorElement: 'label',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
        const showPassword = document.querySelector('.show-password');
        const showPasswordConfirm = document.querySelector('.show-password-confirm');
        const inputPassword = document.querySelector(".password");
        const inputConfirmPassword = document.querySelector(".confirm-password");
        showPassword.addEventListener('click',()=>{
            if (inputPassword.getAttribute('type') === 'password') {
                inputPassword.setAttribute('type', 'text');
                showPassword.innerHTML=`<i class="fa-regular fa-eye-slash"></i>`

            } else {
                inputPassword.setAttribute('type', 'password');
                showPassword.innerHTML=`<i  class="fa-regular fa-eye"></i>`
            }
        })
        showPasswordConfirm.addEventListener('click',()=>{
            if (inputConfirmPassword.getAttribute('type') === 'password') {
                inputConfirmPassword.setAttribute('type', 'text');
                showPasswordConfirm.innerHTML=`<i class="fa-regular fa-eye-slash"></i>`

            } else {
                inputConfirmPassword.setAttribute('type', 'password');
                showPasswordConfirm.innerHTML=`<i  class="fa-regular fa-eye"></i>`
            }
        })

    </script>
</th:block>
