<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{::title},~{::#css},~{::#main-content},~{::#js})}">
<head>
    <meta charset="UTF-8">
    <title>Quên mật khẩu</title>
    <th:block id="css">
        <link rel="stylesheet" href="/web/assets/css/style-forgot-password.css">
    </th:block>
</head>
<body>

<section id="main-content" class="my-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-5">

                <form class="form-forgot-password">

                    <div class="title-description">
                        <h3 class="title-form">
                          Lấy lại mật khẩu
                        </h3>

                    </div>

                    <div class="input-account">
                        <span>Mật khẩu mới</span>
                        <div class="input-box">
                            <input class="password" type="text" placeholder="Mật khẩu mới">
                        </div>
                    </div>
                    <div class="input-account">
                        <span>Xác nhận mật khẩu mới</span>
                        <div class="input-box">
                            <input class="confirm-password" type="text" placeholder="Xác nhận mật khẩu mới">
                        </div>
                    </div>

                    <button class="btn-password-retrieval" type="button">
                        Lấy lại mật khẩu
                    </button>

                </form>

            </div>
        </div>


    </div>
</section>


<th:block id="js">
    <script th:inline="javascript">
        const currentToken = [[${token}]]
    </script>
    <script src="/web/assets/js/forgot-password.js"></script>
</th:block>
