<!doctype html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{hotel-management/layout/layout.html :: layout(~{::title},~{::#css},~{::#main-content},~{::#js})}">
<head>
    <title>Tiện ích và giường</title>

    <th:block id="css">
        <link rel="stylesheet" href="/admin-assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"/>
        <link rel="stylesheet" href="/admin-assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"/>
        <link rel="stylesheet" href="/admin-assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css"/>
        <!-- fullCalendar -->
        <link rel="stylesheet" href="/admin-assets/plugins/fullcalendar/main.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="/admin-assets/dist/css/adminlte.min.css">

        <style>
            body{
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                padding: 0;
                font-size: 14px;
            }

            .fc-event{
                background:#2979FF;
                border-color:#2979FF;
            }

            .error{
                background:#FF1744;
                cursor:pointer;
            }
            .sucess{
                background:#00C853;
                cursor:pointer;
            }

            .tabs{
                width:100%;
                background:#2979FF;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                position:fixed;
                z-index:9;
                .tab-item{
                    padding:12px;
                    color:#fff;
                }
                .tab-active{
                    border-bottom:solid 2px;
                }
                .search{
                    position:absolute;
                    right:55px;
                    .search-icon{
                        padding:6px 20px;
                        font-size:20px;
                    }
                }
            }
            .content{
                position:relative;
                top:80px;
                width:100%;
                height:20px;
            }
        </style>
    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="main-content">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/admin/dashboard">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Tiện ích và giường
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <html ng-app="app">
        <body ng-controller="appCtrl" ng-init="goTab(0)">
        <div class="tabs">
            <div ng-repeat="tab in tabs"
                 ng-click="goTab($index)"
                 ng-class="{'tab-active':tab.status}"
                 class="tab-item waves-effect waves-light">
                {{tab.text}}
            </div>
            <div class="search">
                <input type="date" ng-model="go">
                <div class="tab-item waves-effect waves-light ion-ios-search search-icon" ng-click="goDate()"></div>
            </div>
        </div>
        <div class="content">
            <div ng-show="activeTab == 0" class="container">
                <div id="calendar"></div>
            </div>
            <div ng-show="activeTab == 1">
                <div class="container">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="title" type="text" ng-model="reserve.title">
                            <label for="title">Titulo</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s6">
                            <label>Entrada</label>
                            <input type="datetime-local" ng-model="reserve.start">
                        </div>
                        <div class="col s6">
                            <label>Saída</label>
                            <input type="datetime-local" ng-model="reserve.end">
                        </div>
                    </div>

                    <div class="row">
                        <a class="waves-effect waves-light btn blue" ng-click="new.reserve()">Register</a>
                    </div>
                </div>
            </div>
        </div>
        </body>
        </html>



    </div>
</div>
<th:block id="js">
    <script src="/admin-assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin-assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/admin-assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/admin-assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/admin-assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/admin-assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/admin-assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/admin-assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery UI -->
    <script src="/admin-assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/admin-assets/dist/js/adminlte.min.js"></script>
    <!-- fullCalendar 2.2.5 -->
    <script src="/admin-assets/plugins/moment/moment.min.js"></script>
    <script src="/admin-assets/plugins/fullcalendar/main.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/admin-assets/dist/js/demo.js"></script>

    <script>
        (function(angular){
            'use strict';
            angular.module('app', [])

                .controller('appCtrl', ['$scope', 'calendar',function($scope, calendar) {
                    console.clear();
                    $scope.new = {};
                    $scope.reserve = {};

                    var events = [{
                        title: 'Reserva longa'
                        , start: '2014-09-07'
                        , end: '2014-09-10'
                    },{
                        id: '1'
                        , title: 'Duplicar reserva'
                        , start: '2014-09-09T16:00:00'
                    },{
                        id: '1'
                        , title: 'Duplicar reserva'
                        , start: '2014-09-16T16:00:00'
                    },{
                        title: 'Conferencia'
                        , start: '2014-09-11'
                        , end: '2014-09-13'
                    },{
                        title: 'Reserva'
                        , start: '2014-09-12T10:30:00'
                        , end: '2014-09-12T12:30:00'
                    }];

                    $scope.tabs = [{
                        status:false
                        , text:"List"
                    }, {
                        status:false
                        , text:"Register"
                    }]


                    $scope.go = '';
                    $scope.goDate = function(){
                        if(!$scope.go){
                            Materialize.toast('Enter a date', 4000, 'error');
                            return true;
                        }
                        calendar.go($scope.go);
                    }

                    $scope.goTab = function(index){
                        $scope.activeTab = index;
                        for(var i = 0, max = $scope.tabs.length; i < max; i++){
                            if(i == index){
                                $scope.tabs[i].status = true;
                            }else{
                                $scope.tabs[i].status = false;
                            }
                        }
                    }

                    $scope.new.reserve = function(){
                        if(!$scope.reserve.title){
                            Materialize.toast('Entre com o titulo', 4000, 'error');
                            return true;
                        }

                        if(!$scope.reserve.start){
                            Materialize.toast('Nescessário uma data e hora de entrada', 4000, 'error');
                            return true;
                        }
                        calendar.render($scope.reserve, true, function(){
                            $scope.reserve = {};
                            Materialize.toast('Atualizado', 4000, 'sucess');
                            $scope.goTab(0);
                        });
                    }
                    calendar.render(events);
                }])

                .service('calendar', function(){
                    var c = $('#calendar');
                    return{
                        go:function(date){
                            c.fullCalendar('gotoDate', date);
                        }
                        , render:function(obj, update, callback){
                            if(update){
                                c.fullCalendar('addEvent', obj);
                                c.fullCalendar('renderEvent', obj, true);
                                callback();
                            }
                            c.fullCalendar({
                                ignoreTimezone: false
                                , 	monthNames: [
                                    'Janeiro'
                                    , 'Fevereiro'
                                    , 'Março'
                                    , 'Abril'
                                    , 'Maio'
                                    , 'Junho'
                                    , 'Julho'
                                    , 'Agosto'
                                    , 'Setembro'
                                    , 'Outubro'
                                    , 'Novembro'
                                    , 'Dezembro'
                                ]
                                , monthNamesShort: [
                                    'Jan'
                                    , 'Fev'
                                    , 'Mar'
                                    , 'Abr'
                                    , 'Mai'
                                    , 'Jun'
                                    , 'Jul'
                                    , 'Ago'
                                    , 'Set'
                                    , 'Out'
                                    , 'Nov'
                                    , 'Dez'
                                ]
                                , dayNames: [
                                    'Domingo'
                                    , 'Segunda'
                                    , 'Terça'
                                    , 'Quarta'
                                    , 'Quinta'
                                    , 'Sexta'
                                    , 'Sabado'
                                ]
                                , dayNamesShort: [
                                    'Dom'
                                    , 'Seg'
                                    , 'Ter'
                                    , 'Qua'
                                    , 'Qui'
                                    , 'Sex'
                                    , 'Sab'
                                ]
                                , columnFormat: {
                                    month: 'ddd'
                                    , week: 'ddd d'
                                    , day: ''
                                }
                                , axisFormat: 'H:mm'
                                , timeFormat: {
                                    '': 'H:mm'
                                    , agenda: 'H:mm{ - H:mm}'
                                },
                                buttonText: {
                                    today: "Hoje"
                                    , month: "Mês"
                                    , week: "Semana"
                                }
                                , header: {
                                    left: 'prev,next today'
                                    , center: 'title'
                                    , right: 'month,agendaWeek,agendaDay'
                                },
                                defaultDate: '2014-09-12'
                                , editable: false //Se deixar true pode ser arrastados os quadros
                                , selectable: true
                                , eventLimit: true
                                , events: obj
                            });
                        }
                    }
                });
        })(window.angular);
    </script>
</th:block>
</body>

</html>