<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{hotel-management/layout/layout.html :: layout(~{::title},~{::#css},~{::#main-content},~{::#js})}">
<head>
    <title>Tiện ích và giường</title>

    <th:block id="css">
        <link rel="stylesheet" href="/admin-assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css"/>
        <link rel="stylesheet" href="/admin-assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css"/>
        <link rel="stylesheet" href="/admin-assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css"/>
        <link rel="stylesheet" href="/admin-assets/plugins/fontawesome-free/css/all.min.css">

        <!-- fullCalendar -->
        <link rel="stylesheet" href="/admin-assets/plugins/fullcalendar/main.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="/admin-assets/dist/css/adminlte.min.css">
        <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css' rel='stylesheet'/>
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'></script>
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.min.js'></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <div class="wrapper" id="main-content">


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Calendar</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Calendar</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card card-primary">
                                <div class="card-body p-0">
                                    <!-- THE CALENDAR -->
                                    <div id="calendar"></div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>

                        <div class="col-md-4">
                            <div class="setting-price">
                                <h6>Chỉnh sửa giá tiền </h6>
                                <div class="d-flex justify-content-between">
                                    <div class="w-50">
                                        <label>Từ :</label>
                                        <input type="text" class="datePicker" name="birthday" value="10/24/1984"/>
                                    </div>
                                    <div class="w-50">
                                        <label>Đến và bao gồm :</label>
                                        <input type="text" class="datePicker" name="birthday" value="10/24/1984"/>
                                    </div>
                                </div>
                                <div>
                                    <h6>Quý vị muốn áp dụng cho ngày nào trong tuần ?</h6>
                                    <div>
                                        <ul class="list-unstyled d-flex justify-content-between px-3">
                                            <li class="mx-1"><label>
                                                T2
                                                <input type="checkbox">
                                            </label></li>
                                            <li><label>
                                                T3
                                                <input type="checkbox">
                                            </label></li>
                                            <li><label>
                                                T4
                                                <input type="checkbox">
                                            </label></li>
                                            <li><label>
                                                T5
                                                <input type="checkbox">
                                            </label></li>
                                            <li><label>
                                                T6
                                                <input type="checkbox">
                                            </label></li>
                                            <li><label>
                                                T7
                                                <input type="checkbox">
                                            </label></li>
                                            <li><label>
                                                CN
                                                <input type="checkbox">
                                            </label></li>
                                        </ul>
                                    </div>
                                </div>

                                <div>
                                    <h6>Giá :</h6>
                                    <input type="number" placeholder="Giá">
                                </div>
                                <div>
                                    <button>Lưu thay đổi</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
</div>
<th:block id="js">
    <script src="/admin-assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin-assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/admin-assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/admin-assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/admin-assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/admin-assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/admin-assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="/admin-assets/plugins/fullcalendar/main.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/admin-assets/dist/js/demo.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <!-- Page specific script -->

    <script>
        $(function () {
            $('input[name="birthday"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 2023,
                maxYear: 2033,
                startDate: new Date(),
            }, function (start, end, label) {
                var years = moment().diff(start, 'years');
                alert("You are " + years + " years old!");
            });
        });
        $(function () {

            /* khởi tạo các sự kiện bên ngoài
             -----------------------------------------------------------------*/
            function ini_events(ele) {
                ele.each(function () {

                    // tạo một Đối tượng Sự kiện (https://fullcalendar.io/docs/event-object)
                    // không cần phải có thời gian bắt đầu hoặc kết thúc
                    var eventObject = {
                        title: $.trim($(this).text()) // sử dụng văn bản của phần tử làm tiêu đề sự kiện
                    }

                    // lưu trữ Đối tượng Sự kiện trong phần tử DOM để chúng ta có thể truy cập sau
                    $(this).data('eventObject', eventObject)

                    // làm cho sự kiện có thể kéo được bằng cách sử dụng jQuery UI
                    $(this).draggable({
                        zIndex: 1070,
                        revert: true, // sẽ khiến sự kiện quay trở lại
                        revertDuration: 0  //  vị trí ban đầu sau khi kéo
                    })

                })
            }


            /* khởi tạo lịch
             -----------------------------------------------------------------*/
            //Ngày cho các sự kiện lịch (dữ liệu giả)
            var Calendar = FullCalendar.Calendar;
            var calendarEl = document.getElementById('calendar');

            // khởi tạo các sự kiện bên ngoài
            // -----------------------------------------------------------------


            var calendar = new Calendar(calendarEl, {
                locale: 'vi',
                buttonText: {
                    today: "Hôm nay",

                },
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: ''
                },
                themeSystem: 'bootstrap',

            });

            calendar.render();

            // Thêm các sự kiện từ danh sách số vào lịch
            let count = 0;
            var listNumbers = [1, 2, 3, 4, 5]; // danh sách số từ máy chủ
            listNumbers.forEach(function (number) {
                var eventObject = {
                    title: number + "K",
                    start: new Date().setDate(new Date().getDate() + count),// Ví dụ: Ngày bắt đầu sự kiện (có thể thay đổi tùy thuộc vào logic của bạn)
                    // Các thuộc tính khác của sự kiện có thể được thêm vào tại đây
                    allDay: true // Thiết lập sự kiện là cả ngày
                };
                count++;
                calendar.addEvent(eventObject);
            });

        })

    </script>
</th:block>
</body>

</html>