<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
 <footer class="infor-web py-5" th:fragment="footer">
  <div class="container-fruil">
    <div class="row ">
      <div class="intro d-flex justify-content-center">
        <span>Mọi nội dung tại đây © 2005 – 2024 Công ty TNHH Tư nhân StayEase. Bảo Lưu Mọi Quyền. </span>
      </div>
      <div class="intro d-flex justify-content-center">
        <span>StayEase.com là thành viên của Tập đoàn Booking Holdings, nhà cung cấp dịch vụ du lịch trực tuyến & các dịch vụ có liên quan hàng đầu thế giới.</span>
      </div>

    </div>

  </div>
  </div>
</footer>
</body>
</html>