<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm" th:fragment="nav-bar">
<div class="container">
  <div class="collapse navbar-collapse justify-content-between p-0 m-0" id="navbarNavAltMarkup">
    <a class="text-reset text-decoration-none nav-link active" aria-current="page" th:href="@{/}">
      <img class="img-logo" src="/web/assets/image/stayEase.png" alt="Ảnh Logo">
    </a>
    <div class="d-flex align-items-center">
      <a target="_blank" class="nav-link text-decoration-none text-reset login" >
        <i class="fa-solid fa-globe"></i>
        Tiếng Việt
      </a>

      <a target="_blank" class="nav-link text-decoration-none text-reset login" >
        Chuyến đi
      </a>
      <a target="_blank" class="nav-link text-decoration-none text-reset login" th:href="@{/support}">
        Hỗ trợ
      </a>
      <a target="_blank" class="nav-link text-decoration-none text-reset login" >
        <i class="fa-solid fa-bell"></i>
      </a>
      <div class="profile-dropdown h-100 ">
        <div onclick="toggle()" class="profile-dropdown-btn">
          <span
          >Tuyen Truong
            <i class="fa-regular fa-user"></i>
          </span>
        </div>

        <ul class="profile-dropdown-list  p-0 m-0">
          <li class="profile-dropdown-list-item">
            <a class="text-decoration-none text-reset" th:href="@{/profile}">
              <i class="fa-regular fa-user"></i>
             Hồ sơ của tôi
            </a>
          </li>

          <li class="profile-dropdown-list-item">
            <a href="#" class="text-decoration-none text-reset">
              <i class="fa-regular fa-bookmark"></i>
              Danh sách yêu thích
            </a>
          </li>

          <li class="profile-dropdown-list-item">
            <a href="#" class="text-decoration-none text-reset">
              <i class="fa-solid fa-clock-rotate-left"></i>
              Lịch sử đặt phòng
            </a>
          </li>

          <li class="profile-dropdown-list-item">
            <a href="#" class="text-decoration-none text-reset">
              <i class="fa-solid fa-gear"></i>
              Thiết lập
            </a>
          </li>

          <hr />

          <li class="profile-dropdown-list-item">
            <a href="#" class="text-decoration-none text-reset">
              <i class="fa-solid fa-arrow-right-from-bracket" ></i>
              Đăng xuất
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
</nav>

</body>
</html>