<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-light border-bottom shadow-sm" th:fragment="nav-bar">
<div class="container">
  <div class="collapse navbar-collapse justify-content-between p-0 m-0" id="navbarNavAltMarkup">
    <a class="text-reset text-decoration-none nav-link active" aria-current="page" th:href="@{/}">
      <img class="img-logo" src="/web/assets/image/logone.png" alt="Ảnh Logo">
    </a>
    <div class="d-flex align-items-center">
      <a target="_blank" class="nav-link text-decoration-none text-reset " >
        <i class="fa-solid fa-globe"></i>
        Tiếng Việt
      </a>

      <a target="_blank" class="nav-link text-decoration-none text-reset " >
        Chuyến đi
      </a>
      <a target="_blank" class="nav-link text-decoration-none text-reset " th:href="@{/support}">
        Hỗ trợ
      </a>


      <a target="_blank" class="nav-link text-decoration-none text-reset " >
        <i class="fa-solid fa-bell"></i>
      </a>
      <th:block sec:authorize="not isAuthenticated()" >
        <a target="_blank" class="nav-link text-decoration-none text-reset register" th:href="@{/account/dang-ky}">
          <i class="fa-solid fa-user-plus"></i>
          Tạo tài khoản

        </a>
        <a target="_blank" class="nav-link text-decoration-none text-reset login" th:href="@{/account/login}">
          <i class="fa-regular fa-user"></i>
          Đăng Nhập
        </a>

      </th:block>
     <th:block sec:authorize="isAuthenticated()" >
       <div class="profile-dropdown h-100 ">
         <div onclick="toggle()" class="profile-dropdown-btn">
          <div class="btn-user" >
            <img class="img-user-nav-bar" th:src="${#authentication.principal.user.getAvatar()}" alt="">
            <th:block th:text="${#authentication.principal.user.getName()}"></th:block>
          </div>
         </div>

         <ul class="profile-dropdown-list  p-0 m-0">
           <li class="profile-dropdown-list-item">
             <a class="text-decoration-none text-reset" th:href="@{/thong-tin-khach-hang}">
               <i class="fa-regular fa-user"></i>
               Hồ sơ của tôi
             </a>
           </li>

           <li class="profile-dropdown-list-item">
             <a th:href="@{/yeu-thich/{id} (id=${#authentication.principal.user.getId()})}" class="text-decoration-none text-reset">
               <i class="fa-regular fa-bookmark"></i>
               Danh sách yêu thích
             </a>
           </li>

           <li class="profile-dropdown-list-item">
             <a th:href="@{/danh-sach-dat-phong/{id} (id=${#authentication.principal.user.getId()})}" class="text-decoration-none text-reset">
               <i class="fa-solid fa-clock-rotate-left"></i>Đặt chỗ
             </a>
           </li>

           <li class="profile-dropdown-list-item">
             <a href="#" class="text-decoration-none text-reset">
               <i class="fa-solid fa-gear"></i>
               Thiết lập
             </a>
           </li>

           <hr />

           <li class="profile-dropdown-list-item">
             <a  class="text-decoration-none text-reset logout" th:onclick="logOut()">
               <i class="fa-solid fa-arrow-right-from-bracket" ></i>
               Đăng xuất
             </a>
           </li>
         </ul>
       </div>
     </th:block>
    </div>
  </div>

</div>
</nav>

</body>
<script >

</script>
</html>