<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm" th:fragment="nav-bar">
<div class="container">
  <div class="collapse navbar-collapse justify-content-between " id="navbarNavAltMarkup">
    <a class="text-reset text-decoration-none nav-link active" aria-current="page" href="#">
      <h3>STAYEASE</h3>
    </a>
    <div class="d-flex">
      <a target="_blank" class="nav-link text-decoration-none text-reset login" >
        <i class="fa-solid fa-globe"></i>
        Tiếng Việt
      </a>

      <a target="_blank" class="nav-link text-decoration-none text-reset login" >
        Chuyến đi
      </a>
      <a target="_blank" class="nav-link text-decoration-none text-reset login" >
        Hỗ trợ
      </a>
      <a target="_blank" class="nav-link text-decoration-none text-reset login" >
        <i class="fa-solid fa-bell"></i>
      </a>
      <a target="_blank" class="nav-link text-decoration-none text-reset login" >
        <i class="fa-regular fa-user"></i>
        Đăng Nhập
      </a>
    </div>
  </div>
</div>
</nav>

</body>
</html>